@{
  Layout= "_layout";
}

<p><img src='~/img/6.png' height="550px"/></p><br><br><br>
<form action="/game/new" method="post">
  <button id = "home" class="btn btn-info" type="submit" name="newGame=">Start a new game!</button>
</form>
